################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMS/obj/Debug
/.vs/WebApp
/CMS/bin
/.vs
/CMS/obj/Release
