@using CMS.DocumentEngine;
@model IEnumerable<TreeNode>

@using Kentico.Content.Web.Mvc
@using Kentico.Web.Mvc
@{
    string currentURL = @Url.Kentico().CurrentPageUrl().ToString();
}
@if (Model != null && Model.Count() > 0 && Model.Any())
{
    @foreach (var item in Model)
    {
        <li class=""><a href="@item.NodeAlias" class="@(currentURL==item.NodeAliasPath.ToLower()?"nav-active":"")">@item.DocumentName</a></li>
    }
}
