/* default css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;200;500;600;700;800;900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
}

.header-area {
}
/* default css end */
.nav-sticky {
  top: 0px;
  width: 100%;
  z-index: 1;
  position: sticky;
  background-color: #082471 !important;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 0.5px solid #e1e1e1;
}
.nav-responsiveScroll{
  color: #fff !important;
}
.toggle-feedback {
  display: none;
}
.feedback-button1 button,.feedback-button button{
  font-size: 14px;
  line-height: 45px;
  font-weight: 400;
  word-spacing: 1.5px;
  color: #ffffff;
  background: #082471;
  text-transform: uppercase;
  width: 190px;
  margin: 0 auto;
  outline: none;
  border: none;
  display: block;
  text-decoration: none;
  text-align: center;
  height: 45px;
  border-radius: 40px;
  margin-top: 40px;
}
/* navbar regular css start */
.navbar-area {
  background: rgb(255 255 255 / 0%);
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  z-index: 99;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li {
  padding: 0 20px;
}
.workSubMenu {
  padding-left: 0px !important;
}
.site-navbar ul li a {
  color: #666666;
  padding: 15px 0;
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  transition: 0.5s;
}
.site-navbar ul li a:hover {
  color: #f9556d !important;
  transition: 0.5s;
}
.nav-active {
  border-bottom: 3px solid #f9556d;
  padding: 15px 0 4px !important;
}
/* .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  } */
/* navbar regular css end */

/* nav-toggler css start */
.barIcon {
  border: 3px solid #f9556d;
  padding: 9px;
  background-color: #f9556d;
  cursor: pointer;
  height: 43px;
  width: 43px;
  border-radius: 0%;
  display: block;
  z-index: 99;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #ffffff !important;
  font-size: 24px !important;
  margin-top: 9px;
}
.site-logo img {
  width: 90%;
}
.nav-toggler {
  border: 3px solid #f1583b;
  padding: 9px;
  background-color: transparent;
  cursor: pointer;
  height: 43px;
  width: 43px;
  border-radius: 50%;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-7px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(5px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

.site-navbar ul li a.login {
  color: #ffffff;
  border-radius: 20px;
  background: #f9556d;
  padding: 5px 27px 6px;
  height: 35px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  border: 1px solid #f9556d;
  margin-top: 16px;
  line-height: 22px;
}
.site-navbar ul li a.login i {
  margin-right: 6px;
}
/* intro-area css end */
.header-area {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #ffffff;
  padding: 20px 0 10px;
}

/* menu icon navbar start */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: rgb(0,0,0); */
  background-color: #082471;
  overflow-y: hidden;
  transition: 0.5s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.overlay-content {
  position: relative;
  top: 18%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 28px;
  right: 131px;
  border: 3px solid #f9556d;
  padding: 9px;
  background-color: #f9556d;
  cursor: pointer;
  height: 43px;
  width: 43px;
  border-radius: 0%;
  display: block;
  z-index: 99;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #ffffff !important;
  font-size: 38px !important;
}
.workSubMenu {
}
.workSubMenu h6 {
  font-size: 26px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
  padding-left: 51px;
  text-align: left;
}
.workSubMenu h6 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}
.workSubMenu > a {
  color: #ffffff !important;
  text-align: left !important;
  padding: 10px 0 !important;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
}
.workSubMenu p {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 200;
  padding-top: 18px;
  position: relative;
  padding-left: 38px;
  text-align: left;
}

.workSubMenu p img {
  margin-right: 20px;
  position: absolute;
  left: 0;
  width: 20px;
}
.workSubMenu a.location {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 200;
  padding-top: 18px;
  position: relative;
  padding-left: 38px !important;
  text-align: left;
}
.workSubMenu a.location img {
  margin-right: 20px;
  position: absolute;
  left: 0;
  width: 20px;
  top: 14px;
}
/* @media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
} */
/* menu icon navbar end */
/* Portfolio start */
.portfolio {
  background: #ffffff;
  padding: 70px 0;
}
.portfolioLeft {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.portfolioLeft h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding-bottom: 20px;
}
.portfolioLeft h1 span {
  color: #f9556d;
}
.portfolioLeft p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  padding-bottom: 20px;
}
.portfolioLeft a {
  font-size: 14px;
  line-height: 45px;
  font-weight: 400;
  word-spacing: 1.5px;
  color: #ffffff;
  background: #082471;
  text-transform: uppercase;
  width: 190px;
  display: block;
  text-decoration: none;
  text-align: center;
  height: 45px;
  border-radius: 40px;
}
.portfolioLeft a:hover {
  background: #041c5b;
  transition: 0.5s;
  box-shadow: 0px 14px 12px 0 #041c5b40;
}
.portfolioRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourprojects {
  background: #ebebf2;
  padding: 70px 0;
}
.ourprojects h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.ourprojects h2 span {
  color: #f9556d;
}
.ourprojects p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.portfolio1_hover h3 {
  font-size: 24px;
  line-height: 38px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
}
.portfolio1_hover a {
  font-size: 14px;
  line-height: 45px;
  font-weight: 400;
  word-spacing: 1.5px;
  color: #ffffff;
  background: #f9556d;
  text-transform: uppercase;
  width: 120px;
  display: block;
  text-decoration: none;
  text-align: center;
  height: 40px;
}
.portfolio1_hover {
  position: absolute;
  top: 42%;
}
.portfolio1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
}
.portfolio1 img {
  position: relative;
}
.portfolio1:hover .positionCard {
  display: block;
}
.positionCard {
  background: #00000080;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
img {
  width: 100%;
}
.OurClients {
  padding: 70px 0;
  background: #ffffff;
}
.OurClients h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.OurClients h2 span {
  color: #f9556d;
}
.OurClients p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  text-align: center;
}
.our-clientsOne {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}
footer {
  background: #082471;
  padding: 70px 0;
}
.footerIcons {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footerIcons li {
}
.footerIcons li a {
  width: 40px;
  height: 40px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
  border-radius: 50%;
  transition: 0.5s;
}
.footerIcons li a:hover {
  background: #4c9be8;
  transition: 0.5s;
}
/* .footerIcons li a:hover {
  background: #082471;
  transition: 0.5s;
} */
.footerIcons li a img {
  width: 20px;
}
.footerIcons li a img.facebook {
  width: 14px;
}
.footer-left {
}
.footer-left > img {
  width: 38px;
}
.footer-left p {
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  width: 70%;
  padding: 26px 0 14px;
}
.footer-center {
}
.footer-center ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.footer-center ul li {
  padding-top: 10px;
}
.footer-center ul li a {
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 200;
  text-decoration: none;
  transition: 0.5s;
}
.footer-center ul li a.location {
  position: relative;
  padding-left: 30px;
}
.footer-center ul li p {
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  width: 70%;
  padding: 10px 0 0px 30px;
  position: relative;
}
.footer-center ul li a.location:hover {
  transition: 0.5s;
  color: #f1583b;
}
.footer-center ul li a img {
  position: absolute;
  left: 0;
  top: -1px;
  width: 20px;
}
.footer-center ul li p img {
  position: absolute;
  left: 0;
  top: 14px;
  width: 20px;
}
.footer-center h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  color: #ffffff;
}
.footer-right h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 20px;
  margin: 0;
}
.footer-right ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.footer-right ul li {
}
.footer-right ul li a {
  font-size: 16px;
  line-height: 42px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}
.footer-right ul li a:hover {
  color: #f9556d;
  transition: 0.5s;
}

.footer-copyright {
  background: #06194e;
  padding: 6px 0;
}
.footer-copyright h5 {
  font-size: 12px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
.order-first {
  order: -0 !important;
}

/* Portfolio end */
/*  */
.provider-services {
  padding: 70px 0;
  background: #ebebf2;
}
.provider-services h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.provider-services h2 span {
  color: #f9556d;
}
.provider-services p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  padding-bottom: 20px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.provide-serviceCard {
  width: 360px;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 14px 40px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  margin: 50px auto 0;
}
.provide-serviceCard img {
  display: block;
  margin: 0 auto;
  width: 90px;
}
.provide-serviceCard h4 {
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
  color: #000000;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
.provide-serviceCard > p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
}
.provide-serviceCard a {
  width: 180px;
  height: 45px;
  background: #082471;
  font-size: 16px;
  line-height: 45px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  border-radius: 40px;
  transition: 0.5s;
}
.provide-serviceCard a:hover {
  background: #041c5b;
  transition: 0.5s;
  box-shadow: 0px 12px 12px 0 #041c5b30;
}
.software-solutions {
  background: #ffffff;
  padding: 70px 0;
}
.software-solutionsLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.software-solutionsLeft ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.software-solutionsLeft ul li.rocket {
  width: 135px;
  height: 125px;
  border-radius: 50%;
  background: #082471;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
/* .software-solutionsLeft ul li.rocket:hover{
  margin-top: 20px;
} */
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/* .software-solutionsLeft ul li.rocket {  
  position: absolute;
  top: 50%;
  left: 50%;
  height: 180px;
  width: 180px;
  background-color: red;  
  border-radius: 50%;
  line-height: 180px;
  text-align: center;
  text-transform: uppercase;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
} */
.software-solutionsLeft ul li.rocket:hover,
.software-solutionsLeft ul li.rocket2:hover,
.software-solutionsLeft ul li.rocket3:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
.software-solutionsLeft ul li.rocket2 {
  width: 135px;
  height: 125px;
  border-radius: 50%;
  background: #6ccbb1;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.software-solutionsLeft ul li.rocket3 {
  width: 135px;
  height: 125px;
  border-radius: 50%;
  background: #f9556d;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.software-solutionsLeftIn {
  padding-bottom: 30px;
}
.software-solutionsLeft ul li img {
  width: 50px;
  height: 50px;
}
.software-solutionsLeft ul li h4 {
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding-left: 30px;
}
.software-solutionsLeft ul li h4 a {
  text-decoration: none;
  color: #082471;
  transition: 0.5s;
}
.software-solutionsLeft ul li h4 a:hover {
  color: #f9556d;
  transition: 0.5s;
}
.software-solutionsLeft ul li p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  padding-left: 30px;
}
.software-solutionsRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.demands {
}
.demands h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.demandsCard {
  width: 70%;
  margin: 50px auto 0;
  transform: scale(1);
  transition: 0.5s;
}
.demandsCard:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.demandsCard img {
  display: block;
  margin: 0 auto;
  width: 82px;
}
.demandsCard h4 {
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  color: #000000;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
.demandsCard p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
}
.demandsCard2 {
  position: relative;
}
.borderLineLeft {
  width: 1px;
  height: 200px;
  border-left: 1px solid rgb(102 102 102 / 50%);
  position: absolute;
  top: 30px;
  left: -15%;
}
.borderLineRight {
  width: 1px;
  height: 200px;
  border-left: 1px solid rgb(102 102 102 / 50%);
  position: absolute;
  top: 30px;
  right: -15%;
}
.Provide-Services {
  padding: 70px 0;
  background: #fde7ea;
}
.Provide-Services h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.Provide-Services h2 span {
  color: #f9556d;
}
.Provide-Services h6 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  padding-bottom: 20px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.provideCard {
  width: 360px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  margin: 50px auto 0;
  border: none;
}
.provideCard h5 {
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
.provideCard p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
}
.provideCard a {
  width: 180px;
  height: 45px;
  background: #f9556d;
  font-size: 16px;
  line-height: 45px;
  text-decoration: none;
  display: block;
  margin: 0;
  text-align: center;
  color: #ffffff;
  border-radius: 40px;
  transition: 0.5s;
  margin: 0 auto;
}
.provideCard a:hover {
  background: #d93850;
  transition: 0.5s;
  box-shadow: 0px 12px 12px 0 rgb(249 85 109 / 30%);
}
.provideCard img {
  border-radius: 5px 5px 0 0;
}
.worldStart {
  padding: 70px 0;
}
.worldStartLeft {
  display: flex;
  align-items: center;
}
.worldStartLeft h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding-bottom: 20px;
}
.worldStartLeft h2 span {
  color: #f9556d;
}
.worldStartLeft p {
  font-size: 20px;
  line-height: 38px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  padding: 10px 0 30px;
}
.worldList {
  padding: 0;
  list-style: none;
}
.worldList li {
}
.worldList h6 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
  padding-left: 30px;
}
.worldList h6 span {
  width: 20px;
  height: 20px;
  background: #fde7ea;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 4px;
}
.worldList h6 span img {
  width: 11px;
}
.designCard {
  background: #dcfff6;
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  border-radius: 8px;
  transition: 0.5s all;
  transform: scale(1);
  cursor: pointer;
}
.designCard:hover{
  transition: 0.5s all;
  transform: scale(1.1);
}
.designCard ul {
  list-style: none;
  padding: 0 0 10px;
  margin: 0;
}
.designCard ul li {
  width: 75px;
  height: 75px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.designCard ul li img {
  width: 40px;
}
.designCard h4 {
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}
.designCard p {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  width: 100%;
}
.designCard a {
  font-size: 14px;
  text-decoration: none;
  line-height: 24px;
  color: #f9556d;
  padding-top: 15px;
  display: inline-block;
  font-weight: 400;
}
.designCard a img {
  width: 10px;
  margin-left: 5px;
  transition: 0.5s;
  margin-top: -1px;
}
.designCard a:hover img {
  margin-left: 10px;
  transition: 0.5s;
}
.designCard2 {
  background: #fde7ea;
}
.designCard3 {
  background: #f4f4f4;
}
.designCardFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*  */
/* contact start */
.contactUs {
  padding: 70px 0;
}
.formText {
}
.formText h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding-bottom: 20px;
}
.formText h2 span {
  color: #f9556d;
}
.formText p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  padding-bottom: 20px;
}

.inputFelids {
}
.inputFelids input {
  width: 40%;
  padding: 12px;
  background: rgba(8, 36, 113, 0.03);
  border: 1px solid rgba(102, 102, 102, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
.inputFelids input + input {
  margin-left: 10px;
}
.inputFelids textarea {
  width: 82.2%;
  padding: 12px;
  background: rgba(8, 36, 113, 0.03);
  border: 1px solid rgba(102, 102, 102, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-top: 30px;
}
.formText form button {
  background: #f9556d;
  border-radius: 100px;
  font-size: 14px;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: none;
  outline: none;
  text-align: center;
  width: 180px;
  height: 45px;
  color: #ffffff;
  margin-top: 40px;
}
.formText form button:hover {
  transition: 0.5s;
  background: #d93850;
  box-shadow: 0px 12px 12px 0 rgb(249 85 109 / 30%);
}
.contact-right {
  position: relative;
}
.contact-right iframe {
  z-index: 999;
  width: 92%;
}
.mapBackground {
  position: absolute;
  top: -44px;
  left: 90px;
  background: #082471;
  height: 100%;
  width: 86%;
  z-index: -1;
}
.contactBottom {
  padding-bottom: 70px;
}
.contactCard {
  width: 330px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 auto;
  min-height: 116px;
  transform: scale(1);
  transition: 0.5s;
}
.contactCard:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.contactCard ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.contactCard ul li.contactIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactCard ul li.contactIcons img {
  width: 30px;
  margin-right: 20px;
}
.contactCard ul li h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #f9556d;
  margin: 0;
  padding: 5px 0;
}
.contactCard ul li p {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
}
.contactCard ul li a {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  text-decoration: none;
}
.contactCard2 {
  padding-top: 20px;
}
/* contact end */
/* services start */
.softwareDevelopment {
  padding: 70px 0;
}
.softwareDevelopment h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.softwareDevelopment h2 span {
  color: #f9556d;
}
.softwareDevelopment h6 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.cstomerDevelopment {
  background: #ebebf2;
  border-radius: 8px;
  padding: 30px;
  width: 97%;
  margin: 40px auto 0;
  transition: 0.5s all;
  cursor: pointer;
}
.cstomerDevelopment:hover{
  background: #082471;
  transition: 0.5s all;
}
.cstomerDevelopment:hover h4{
  color: #ffffff;
  transition: 0.5s all;
}
.cstomerDevelopment:hover p{
  color: #ffffff;
  transition: 0.5s all;
}
.serviceBorder {
  width: 75px;
  background: #f9556d;
  margin: 0 auto;
  height: 2px;
}
.cstomerDevelopment h4 {
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  padding: 20px 0 10px;
  text-align: center;
}
.cstomerDevelopment img {
  display: block;
  margin: 0 auto;
  width: 100px;
}
.cstomerDevelopment p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  text-align: center;
  padding-top: 40px;
}
.SmartCity {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#10054d+0,3d065f+79,45108a+100 */
  background: #10054d; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #10054d 0%,
    #3d065f 79%,
    #45108a 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #10054d 0%,
    #3d065f 79%,
    #45108a 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #10054d 0%,
    #3d065f 79%,
    #45108a 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10054d', endColorstr='#45108a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  padding: 20px 0;
}
.SmartCityLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SmartCityLeft h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}
.SmartCityLeft h2 span {
  color: #f9556d;
}
.SmartCityLeft p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 40px 0;
}
.SmartCityLeft a {
  width: 214px;
  height: 45px;
  font-size: 14px;
  line-height: 47px;
  background: #f9556d;
  color: #ffffff;
  border-radius: 40px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}
.SmartCityLeft a:hover {
  background: #d93850;
  color: #ffffff;
  transition: 0.5s;
  box-shadow: 0px 12px 12px 0 rgb(249 85 109 / 30%);
}
.SmartCityRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SmartCityRight img {
  max-width: 100%;
}
.technologyStack {
  padding: 70px 0;
}
.technologyStack h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  text-align: center;
}
.technologyStack h2 span {
  color: #f9556d;
}
.stackCard {
  display: flex;
  list-style: none;
  background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
border-radius: 12px;
padding: 0;
width: 500px;
    margin: 50px auto 0;
}
.stackCardOne {
  width: 30%;
  background: #082471;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px 0px 0px 12px;
}
.stackCardOne h4{
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #ffffff;
  padding-top: 10px;
    margin: 0;
}
.stackCardOne img {
  width: 54px;
  margin: 0 auto;
  display: block;
}
.stackCardTwo {
  width: 70%;
  padding-left: 32px;
    padding-top: 20px;
    transition: 0.5s all;
    cursor: pointer;
}
.stackCardTwo:hover{
  background: #F4F4F4;
  transition: 0.5s all;
}
.stackCardTwo ul {
  display: flex;
  list-style: none;

}
.stackCardTwo ul li p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  position: relative;
  padding-left: 16px;
}
.stackCardTwo ul li p::before{
  content: "";
  position: absolute;
  left: 0px;
  top: 10px;
  background: #666666;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.stackCardTwo ul li+li{
  padding-left: 20%;
}
.K2America{
  padding: 70px 0;
  background: #EBEBF2;
}
.K2America h2{
  font-size: 40px;
    line-height: 60px;
    font-weight: 600;
    color: #082471;
    margin: 0;
    text-align: center;
}
.K2America h2 span{
  color: #f9556d;
}
.K2AmericaCard{
  width: 100%;
  margin: 50px auto 0;
  background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
padding: 20px;
border-top: 4px solid #f9556d;
transform: scale(1);
transition: 0.5s all;
cursor: pointer;
}
.K2AmericaCard:hover{
  transform: scale(1.1);
  transition: 0.5s all;
}
.K2AmericaCard figure{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f9556d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0;
}
.K2AmericaCard figure img{
  width: 62px;
}
.K2AmericaCard h6{
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  text-align: center;
  padding: 40px 0 20px;
}
.K2AmericaCard p{
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  text-align: center;
}
/* tabs start */
.nav-tabs {
  position: relative;
  border: none!important;
  background-color: #fff;
  border-radius: 6px;
  width: 40%;
    margin: 0 auto;
}
.borderShadow{
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 14%), 0 0px 0px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
  
}
.tabSlider {
  display: inline-block;
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background-color: #241E4E;
  position: absolute;
  z-index: 1;
  bottom: 0;
  transition: all .4s linear;
}
.nav-tabs .nav-item .active {
  background-color: #E7E6EA !important;
  border: none!important;
  color: #082471!important;
}
.tab-pane {
  height: auto;
}
.nav-tabs li a {
  position: relative;
  margin-right: 0px!important;
  padding: 20px 40px!important;
  font-size: 16px;
  border: none!important;
  color: #666666;
}
.nav-tabs li a:hover{
  color: #666666;
}
/* tabs end */
.HiringModels{
  padding: 70px 0;
}
.HiringModels h2{
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #082471;
  margin: 0;
  text-align: center;
}
.HiringModels h2 span{
  color: #f9556d;
}
.HiringModels h6{
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 30px;
}
.hiringModelCard{
  width: 335px;
  margin: 50px auto 0;
  background: #FFFFFF;
border: 1.5px solid #EBEBF2;
box-sizing: border-box;
border-radius: 8px;
padding: 30px 30px 18px;
transition: 0.5s all;
cursor: pointer;
}
.hiringModelCard:hover{
  background: #f9556d;
  transition: 0.5s all;
}
.hiringModelCard:hover ul li p{
  color: #ffffff;
  transition: 0.5s all;
}
.hiringModelCard:hover ul li p::before{
  background: #ffffff;
  transition: 0.5s all;
}
.hiringModelCard ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.hiringModelCard ul li p{
  font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #666666;
    position: relative;
    padding-left: 16px;
    margin: 0;
    padding-bottom: 12px;
}
.hiringModelCard ul li p::before{
  content: "";
    position: absolute;
    left: 0px;
    top: 10px;
    background: #082471;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.Hirecustom{
  padding: 40px 0;
  background: #FDE7EA;
}
.HirecustomLeft{}
.HirecustomLeft h6{
  font-size: 24px;
    line-height: 60px;
    font-weight: 600;
    color: #082471;
    margin: 0;
    padding-bottom: 8px;
}
.HirecustomLeft h6 span{
  color: #f9556d;
}
.HirecustomLeft p{
  font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #666666;
    margin: 0;

}
.HirecustomRight{
  display: flex;
  align-items: center;
  justify-content: center;
}
.HirecustomRight a{
  font-size: 14px;
    line-height: 45px;
    font-weight: 400;
    word-spacing: 1.5px;
    color: #ffffff;
    background: #082471;
    text-transform: uppercase;
    width: 190px;
    display: block;
    text-decoration: none;
    text-align: center;
    height: 45px;
    border-radius: 40px;
}
.HirecustomRight a:hover{
  background: #041c5b;
    transition: 0.5s;
    box-shadow: 0px 14px 12px 0 #041c5b40;
}

/* accordion start */
/* .accordion-wrapper 
{
  position: relative;
  margin-bottom: .5rem;
}
.acc-head
{
  position: relative;
}
.acc-head::after
{
  content: '\f107';
  position: absolute;
  right: 16px;
  color: grey;
  transform: rotate(0deg);
  transition: .4s;
  font-family: FontAwesome;
}
.acc-head.active::after
{
  content: '\f107';
  position: absolute;
  right: 16px;
  color: grey;
  transform: rotate(180deg);
  transition: .4s;
  font-family: FontAwesome;
}
.acc-body
{
  padding: 1rem;
  display: none;
  background: #dadee2;
} */

.FaqWrapper {
  background: #ffffff;
  /* background: -moz-linear-gradient(top, #150941 0%, #3a0942 100%);
  background: -webkit-linear-gradient(top, #150941 0%,#3a0942 100%);
  background: linear-gradient(to bottom, #150941 0%,#3a0942 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#150941', endColorstr='#3a0942',GradientType=0 ); */
}
.accordion-container{
  position: relative;
  height: auto;
  margin: 10px auto;
}

.set{
  position: relative;
  max-width: 1300px;
  margin: 0 auto 20px;
  height: auto;
  border: 1.5px solid #EBEBF2;
  box-sizing: border-box;
  border-radius: 8px;
  /* padding: 6px 20px; */
  transition: 0.5s all;
}
.set:hover > h4{
  background: #F4F4F4;
  transition: 0.5s all;
}
.set > h4{
  
  padding: 20px 19px;
  color: #414141;
cursor: pointer;
 font-size: 18px;
 font-weight: 500;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
  margin: 0;
}
.set > h4 i{
  float: right;
  margin-top: 2px;
}

.set > h4.activeAccordion{
  background: #ffffff;
    /* background: -moz-linear-gradient(left, #4a2602 0%, #351a0014 100%);
    background: -webkit-linear-gradient(left, #4a2602 0%,#351a0014 100%);
    background: linear-gradient(to right, #4a2602 0%,#351a0014 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a2602', endColorstr='#351a00',GradientType=1 ); */
    color: #414141;
}
.content{
  background: #ffffff;
  /* background: -moz-linear-gradient(left, #4a2602 0%, #351a0014 100%);
  background: -webkit-linear-gradient(left, #4a2602 0%,#351a0014 100%);
  background: linear-gradient(to right, #4a2602 0%,#351a0014 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a2602', endColorstr='#351a00',GradientType=1 ); */
  display: none;
}
.content p{
  padding: 20px 19px;
  margin: 0;
  color: #666666;
}
.fa-plus:before{
  content: "\f107";
}
.fa-minus:before{
  content: "\f106";
}
.fqain{
  padding: 50px 0 30px 0;
}
.fqain h2{
  font-size: 30px;
  line-height: 32px;
  color: #000000;
  font-weight: 600;
  border-left: 3px solid #FF7F00;
  padding-left: 6px;
}
.Faq{
  padding-bottom: 50px;
}
.content ul{
  margin: 0;
  padding-top: 4px;
  padding-bottom: 20px;
}
.content ul li{
  color: #666666;
 
}
.softwareAccordion{
  padding: 70px 0 50px;
}
.softwareAccordion h1{
  font-size: 40px;
    line-height: 60px;
    font-weight: 600;
    color: #082471;
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
}
.softwareAccordion h1 span{
  color: #f9556d;
}
/* accordion end */

.numberCount{
  background: #EBEBF2;
  padding: 70px 0;
}
.numberCount h2{
  font-size: 40px;
    line-height: 60px;
    font-weight: 600;
    color: #082471;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}
.numberCount h2 span{
  color: #f9556d;
}
.numberCount p{
  font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #666666;
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
}
.countCardIn{
  width: 162px;
  height: 162px;
  margin: 0 auto;
  background: url(../images/countBannerIcon.svg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: 0.5s;
  cursor: pointer;
}
.countCardIn:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.countCardIn h5{
  font-size: 32px;
  line-height: 60px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
 
}
.countCard h6{
  font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #666666;
    margin: 0;
    padding-top: 20px;
    text-align: center;
}
.countCard {
  padding-top: 40px;
}
.serviceHedderContent{
  padding-bottom: 30px !important;
}

/* services end */
